body{
	background-color: gray;
	color:white;
	.box{
		width:100px;
		height:100px;
	}

	.red{
		background-color: #9C27B0;
	}

	.green{
		background-color: green;
	}

	.yellow{
		background-color: yellow;
	}
}

